.data-1 {
    position: fixed;
    top: 100px;
    left: 800px;
}

.data-2 {
    position: fixed;
    top: 200px;
    left: 100px;
}

button {
    background-color: aquamarine;
    color: purple;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 5px 10px #8f4949;
    border-color: green;
}
    
